html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  outline: none !important;
}

body {
  background: #fafafa;
  color: #666666;
  font-family: Roboto, Verdana, Helvetica, Arial, sans-serif;
  font-size: medium;
}

input, button, div, pre, p {
  font: inherit;
}

button {
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  /* box-sizing: border-box; */
  color: #666666;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  letter-spacing: .09em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

input[type=text], input[type=password] {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .25);
  color: #666666;
  padding: 0.2em 0.7em;
  position: relative;
}

input[type=text]:hover, input[type=password]:hover {
  border: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  color: #333333;
  font-size: xx-large;
  font-weight: normal;
  margin: 0;
  padding-top: 0.75em;
  text-align: left;
}

h2 {
  color: #999999;
  font-size: medium;
  font-weight: normal;
  margin: 0;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  text-align: left;
}

.container {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 1em auto;
  max-width: 640px;
  padding: 0 1em;
}

.form-control {
  margin: 0.5em 0;
}

.form-control input, .form-control button {
  min-width: 15em;
}

.form label {
  color: #333333;
  display: inline-block;
  min-width: 10em;
}

.form {
  padding: 1em 0;
}

.form-actions {
  margin: 0.5em 0;
  padding-top: 1em;
}

.btn {
  color: #3399dd;
}

.btn:hover {
  background-color: #3399dd11;
}

.admin-btn {
  color: #ff3333;
}

.admin-btn:hover {
  background-color: #ff333311;
}

.form span.connected {
  color: #339933;
}

.form span.disconnected {
  color: #cc3333;
}

.popup {
  display: none;
  background: #00000099;
  height: 100vh;
  left: 0;
  margin: 0;
  padding-top: 20vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.popup .dialog {
  background: #ffffff;
  border: solid 2px #999999;
  margin: 1em auto;
  max-width: 640px;
  padding: 1em;
}

.popup .dialog h1 {
  border-bottom: solid 1px #eeeeee;
  font-size: x-large;
  margin-bottom: 10pt;
  padding: 10pt;
  text-align: center;
}

.popup .dialog p {
  font-size: medium;
  padding: 10pt;
  text-align: center;
}

.spin {
  border-radius: 50%;
  border-top-color: #ffffff;
  border: 0.15em solid rgba(255, 255, 255, .5);
  display: inline-block;
  height: 0.9em;
  margin-bottom: -0.2em;
  width: 0.9em;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spin.reboot {
  border-top-color: #555555;
  border: 0.15em solid #55555577;
  height: 1.1em;
  width: 1.1em;
}