html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  outline: none !important;
}

body {
  background: #fafafa;
  color: #454955;
  font: 15px/1.5 Verdana, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, b, th, strong, .nav-link {
  color: #777;
}

input, button, div, pre, p {
  font: inherit;
}

button {
  color: white;
  padding: 0.4em 1em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

input[type=text] input[type=password] {
  padding: 0.2em 0.7em;
  position: relative;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
}

h1 {
  margin: 0;
  padding-top: 0.5em;
  text-align: center;
  font-size: 1.4em;
}

.centered {
  text-align: center;
}

.hidden {
  display: none;
}

.container {
  padding: 0 1em;
  margin: 1em auto;
  max-width: 640px;
  background: #ffffff;
  border: solid 1px #dddddd;
}

.popup {
  background: #ffee0044;
  padding: 1em 1em;
}

.form-control {
  margin: 0.5em 0;
}

.form-control input, .form-control button {
  min-width: 15em;
}

.form label {
  min-width: 10em;
  display: inline-block;
}

.form {
  padding: 1em 0;
}

.btn {
  background: #2079b0;
}

.btn:hover {
  background: #399ad6;
}

.admin-btn {
  background: #ff3333;
}

.admin-btn:hover {
  background: #ff6464;
}

.form span.connected {
  color: #339933;
}

.form span.disconnected {
  color: #cc3333;
}

.spin {
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-bottom: -0.2em;
  border: 0.15em solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spin.reboot {
  width: 1.1em;
  height: 1.1em;
  border: 0.15em solid #45495577;
  border-top-color: #454955;
}